body {
    height: auto;
    width: 100%;
    background-image: linear-gradient(60deg, #000000 0%, #108e82 80%);
    background-attachment: fixed;
}

.nav-bac {
    background-color: #000000 !important;
}

.logo-img {
    width: 8%;
    border: 2px solid red;
}

.cart-x {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    position: relative;
}

.cart-l {
    font-size: 1.625rem;
    margin-top: 0.5rem;
}

.cart-x h6 {
    color: black;
    margin-left: -0.5rem;
    margin-top: -1rem;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 0.2rem;
    padding-inline: 0.5rem;
    text-align: center;
}

.home-bac {
    background-color: #D3D3D3;
}

.cart-buttons {
    all: unset;
    font-size: 1.5rem;
}

.box {
    width: 100%;
    height: 100%;
    border: 2px solid red;
}

.log-w {
    width: 50% !important;
    background-color: #000000 !important;
}

.pending {
    background-color: #cfb20e;
    padding: 0.3rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}

.confirmed {
    background-color: #0ecf2e;
    padding: 0.3rem;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}

@media screen and (max-width:910px) {
    .log-w {
        width: 100% !important;
    }
}